.product img {
    width: 100%;
    height: 300px !important;
    object-fit: contain;
    cursor: pointer;
}

.product {
    background: #fff;
    padding: 20px;
    position: relative;
    border-radius: 8px;
    box-shadow: rgba(3, 2, 36, 0.15) 0px 5px 15px;
    margin: 10px;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    color : black
}

.product:hover {
    transform: scale(1.05);
    box-shadow: rgba(3, 2, 36, 0.25) 0px 10px 20px;
}

.product .rate i {
    font-size: 19px;
    color: #ffaf4e;
    margin: 5px 5px 5px 0;
}

.product .price {
    display: flex;
    justify-content: space-between;
    align-items:center;
    color: black;
}

.price h4 {
    margin: 20px 0 10px;
    font-family: 'Rouge Script', cursive; 
}

h4 {
    font-family: 'Rouge Script', cursive; 
}