

header{
    background-color: #000000;
    color: #fff;
    font-family: 'Rouge Script', cursive; 
}


  
  header nav {
    margin-top: 10px;
  }
  
  header ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    text-decoration: none;
  }
  
  header li {
    margin: 0 15px;
    text-decoration: none;
  }
  
  header a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 16px;
  }
  
  header a:hover {
    border-bottom: 2px solid white;
  
  }

  header :active{
    color: white;
  }
  #navbarSupportedContent{
    font-size: 18px;
    margin-left: 430px;
  }