.team-section {
  text-align: center;
  margin-bottom: 20px;
}

.team-members {
  display: flex;
  justify-content: center; /* Center the items horizontally */
  flex-wrap: wrap; /* Allow items to wrap if necessary */
  max-width: auto; /* Adjust max-width as needed */
  margin: 0 auto;
}

.team-member {
  flex: 0 0 200px; /* Set a fixed width for each team member item */
  padding: 30px;
  margin: 10px; 
  text-align: center; /* Center text within each item */
}

.team-member img {
  width: 230px;
  height: 230px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
}

.member-name {
  font-weight: bold;
}

.member-designation {
  font-style: italic;
}
