.homeSlide .box {
    margin-top: 80px;
    padding: 0 40px 60px;
}

.homeSlide h1 {
    font-size: 45px;
    line-height: 55px;
    margin: 50px 0 20px 0;
}

.homeSlide p {
    margin: 20px 0;
}

.homeSlide ul {
    position: absolute;
    bottom: 20px;
}

.homeSlide ul li {
    border: 2px solid #b8b7b7;
    border-radius: 50%;
    padding: 10px;
}

.homeSlide ul li button {
    background: transparent !important;
    color: transparent !important;
}

.homeSlide ul li button::before {
    font-size: 15px !important;
    color: #0f3460;
    position: absolute;
    top: 2px;
    left: 0;
    margin: auto;
}

.homeSlide .box img {
    width: 900px;
    height: 400px;
    object-fit: contain;
}


.handlebutton {
    background-color: #98b540; 
    border: none;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bolder;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.handlebutton:hover {
    background-color: #3c4b10; /* Darker Green */
}

.homeSlide{
    font-family: cursive; 
}

.color {
    color: #273b52;
}

.imgWidth {
   width: 100% !important;
}